<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.png" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Songs Library</title>
  </head>
  <body>
    <div class="main min-h-screen bg-zinc-300">
      <div class="p-10">
        <h1 class="text-3xl"><%= title %></h1>
        <pre class="p-4 text-wrap"><%= data %></pre>
        
      </div>
    </div>
  </body>
</html>
